.checked-off { text-decoration: line-through }
#types {
	float: left;
	margin-left: 100px;
	text-align: center;
}

#compostTag {
	position: float;
	margin-left: 200px;
	margin-top: 200px;
	position: fixed;
	visibility: hidden;
}

#garbageCan {
	position: float;
	margin-left: 0px;
	margin-top: 350px;
	position: fixed;
	visibility: hidden;
}

#emptyCan {
	position: float;
	margin-left: 0px;
	margin-top: 350px;
	position: fixed;
	visibility: hidden;
}

#fullCan {
	position: float;
	margin-left: 0px;
	margin-top: 350px;
	position: fixed;
	visibility: hidden;
}

#result {
	visibility: hidden;
}

body {
	background-color: cyan;
}